@model TestProject2.Models.StudentPortalViewModel
@{
    ViewBag.Title = "User Portal";
}

<h1>User Portal</h1>

<h2>Hello, @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</h2>


@if (Model.User.Role == "Guardian")
{
    <h4>Your Children:</h4>
    foreach (var student in Model.StudentIds)
    {
        using (Html.BeginForm("IndexByStudentID", "Gradebooks"))
        {
            <p>Student ID: @student.StudentId</p>
            <input type="hidden" value="@student.StudentId" name="studentId"/>
            <input type="submit" value="View Gradebook" />
        }

       
    }
}

@if (Model.User.Role == "Student")
{
    //link to test and drill index
    <p>@Html.ActionLink("Take New Assessments Or Practice", "Index", "Assessment")</p>
    <br />
    <h3>Gradebook</h3>
    //link to that persons gradebook
    <p>@Html.ActionLink("Review Old Assessments", "Index", "Gradebooks")</p>
}

@if (Model.User.Role == "Admin")
{
    <h3>Edit all users</h3>
    //link to db index of all users
    <p>@Html.ActionLink("Edit Users", "Index", "User")</p>
}

@if (Model.User.Role == "Teacher")
{
    <h3>See all Students</h3>
    //link to db index of all users limited to students
    <p>@Html.ActionLink("Edit Students", "IndexLimitedStudents", "User")</p>
    <h3>View gradebook</h3>
    //link to db index of all grades
    <p>@Html.ActionLink("Class Gradebook", "ClassGrades", "Gradebooks")</p>
    <h3>Edit all questions</h3>
    //link to db index of all questions
    <p>@Html.ActionLink("Edit Questions", "Index", "Question")</p>
}


