@model TestProject2.Models.StudentPortalViewModel
@{
    ViewBag.Title = "Student Portal";
}

<h1>User Portal</h1>

<h2>Hello, @Html.DisplayFor(model => model.User.FirstName) @Html.DisplayFor(model => model.User.LastName)</h2>


@if (Model.User.Role == "Guardian")
{
    <h4>Your Children:</h4>
    foreach (var student in Model.StudentIds)
    {
        <p>Student ID: @student.StudentId</p>
        <h3>Gradebook:</h3>
        //temp
        <p>@Html.ActionLink("Review Old Assessments", "Index", "Assessment")</p>
    }
}

@if (Model.User.Role == "Student")
{
    <p>@Html.ActionLink("Take New Assessments Or Practice", "Index", "Assessment")</p>
    <br />
    <h3>Gradebook</h3>
    //temp
    <p>@Html.ActionLink("Review Old Assessments", "Index", "Assessment")</p>
}


