@model IEnumerable<TestProject2.Models.Gradebook>

@{
    ViewBag.Title = "Index";
}

<h2>Class Gradebook</h2>

@{
    double? runningTotal = 0;
    double? amountOfQuestions = 0;
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Date Taken</th>
            <th>Student ID</th>
            <th>Correct Answers</th>
            <th>Questions Amount</th>
            <th>% Grade</th>
            <th>Total Minutes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.DateTaken</td>
                <td>@grade.StudentId</td>
                <td>@grade.Correct</td>
                <td>@grade.Amount</td>
                <td>@grade.PercentGrade</td>
                <td>@grade.Minutes</td>
            </tr>
            {
                runningTotal = runningTotal + grade.PercentGrade;
                amountOfQuestions++;
            }
        }
    </tbody>
</table>

@{
    var avgGrade = runningTotal / amountOfQuestions;
    avgGrade = Double.Parse(avgGrade.ToString());
    var avgGradeString = avgGrade.ToString();
    avgGrade = Math.Round(Double.Parse(avgGradeString), 2);
}

<h3>Your Class Avgerage:</h3>
<h4>@avgGrade%</h4>
