@model TestProject2.Models.Gradebook

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Gradebook</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssesmentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssesmentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateTaken)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateTaken)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Correct)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Correct)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PercentGrade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PercentGrade)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalMinutes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
