@model IEnumerable<TestProject2.Models.Gradebook>

@{
    ViewBag.Title = "Index";
}

<h2>Gradebook</h2>
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Date Taken</th>
            <th>Correct Answers</th>
            <th>Questions Amount</th>
            <th>% Grade</th>
            <th>Total Minutes</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var grade in Model)
        {
            <tr>
                <td>@grade.DateTaken</td>
                <td>@grade.Correct</td>
                <td>@grade.Amount</td>
                <td>@grade.PercentGrade</td>
                <td>@grade.Minutes</td>
            </tr>
        }
    </tbody>
</table>


