@model TestProject2.Models.DrillViewModel
@{
    ViewBag.Title = "DrillResults";
}

@{
    var questionCounter = 1;
    var scoreCounter = 0;
}

<h2>Drill Results</h2>
<p>If your answer is correct it will be displayed in green, otherwise, it will be displayed in red with the correct answer in bold.</p>

@for (int i = 0; i < Model.DrillQuestions.Count; i++)
{
    <br />
    if (Model.DrillQuestions[i].Answer == Model.UserAnswers[i])
    {
        <h4>&#9989; <b>Question @questionCounter</b></h4>
        <ul style="list-style:none">
            <li>@Html.DisplayFor(model => model.DrillQuestions[i].MathQuestion)</li>
            <li>
                <span style="color:green">Your answer: @Html.DisplayFor(model => model.UserAnswers[i])</span>
            </li>
        </ul>
        scoreCounter++;
    }
    else
    {
        <h4>&#10060; <b>Question @questionCounter</b></h4>
        <ul style="list-style:none">
            <li>@Html.DisplayFor(model => model.DrillQuestions[i].MathQuestion)</li>
            <li>
                <span style="color:red">Your answer: @Html.DisplayFor(model => model.UserAnswers[i])</span>
            </li>
            <li>
                <b>Correct answer: @Html.DisplayFor(model => model.DrillQuestions[i].Answer)</b>
            </li>
        </ul>
    }

    questionCounter++;
}

<br />
<h4><b>Score: @scoreCounter/@Model.DrillQuestions.Count</b></h4>
<br />
<a class="btn btn-default" href="~/Assessment/Index">Homework &raquo;</a>