@using TestProject2.Models
@using Newtonsoft.Json
@model TestProject2.Models.TestViewModel
@{ ViewBag.Title = "Test"; }

<h2>Tier @Model.CurrentTier Test</h2>

@{
    var questionCounter = 1;
    var answerList = new List<string> { };
}

@using (Html.BeginForm("Test", "Assessment"))
{

    for (int i = 0; i < Model.TestQuestions.Count; i++)
    {
        <h4>Question @questionCounter:</h4>
        @Html.DisplayFor(model => model.TestQuestions[i].MathQuestion);
        @Html.TextBoxFor(model => model.UserAnswers[i]);

        @Html.HiddenFor(model => model.TestQuestions[i].Id);
        @Html.HiddenFor(model => model.TestQuestions[i].Tier);
        @Html.HiddenFor(model => model.TestQuestions[i].MathQuestion);
        @Html.HiddenFor(model => model.TestQuestions[i].Answer);

        @Html.HiddenFor(m => m.CurrentTier);
        @Html.HiddenFor(m => m.StudentId);
        @Html.HiddenFor(m => m.StartTime);

        questionCounter = questionCounter + 1;
    }
    <br />
    <button type="submit">Submit</button>
}



