@model TestProject2.Models.TestViewModel
@{
    ViewBag.Title = "TestResults";
}

@{
    var questionCounter = 1;
    var scoreCounter = 0;
    TimeSpan totalTime = Model.EndTime - Model.StartTime;
}

<h2>Test Results</h2>
<p>If your answer is correct it will be displayed in green, otherwise, it will be displayed in red with the correct answer in bold.</p>

@for (int i = 0; i < Model.TestQuestions.Count; i++)
{
    <br />
    if (Model.TestQuestions[i].Answer == Model.UserAnswers[i])
    {
        <h4>&#9989; <b>Question @questionCounter</b></h4>
        <ul style="list-style:none">
            <li>@Html.DisplayFor(model => model.TestQuestions[i].MathQuestion)</li>
            <li>
                <span style="color:green">Your answer: @Html.DisplayFor(model => model.UserAnswers[i])</span>
            </li>
        </ul>
        scoreCounter++;
    }
    else
    {
        <h4>&#10060; <b>Question @questionCounter</b></h4>
        <ul style="list-style:none">
            <li>@Html.DisplayFor(model => model.TestQuestions[i].MathQuestion)</li>
            <li>
                <span style="color:red">Your answer: @Html.DisplayFor(model => model.UserAnswers[i])</span>
            </li>
            <li>
                <b>Correct answer: @Html.DisplayFor(model => model.TestQuestions[i].Answer)</b>
            </li>
        </ul>
    }

    questionCounter++;
}

<br />
<h4><b>Score: @scoreCounter/@Model.TestQuestions.Count</b></h4>
<h4><b>Time Taken: @Convert.ToInt32(totalTime.TotalMinutes) Minutes @totalTime.Seconds Seconds</b></h4>